**/node_modules/
**/package-lock.json
frontend/.next/
frontend/out/
**/.env
**/.env.local
!**/.env.example
**/*.log
.DS_Store
**/*.pem
*.backup
*.bak
.vscode/
.idea/
*.swp
*.swo
coverage/
.nyc_output/
